In [62]:
import pandas as pd
import yfinance as yf

In [181]:
df = yf.download('TMS', start='2020-12-31')

[*********************100%***********************]  1 of 1 completed

In [182]:
buy_dates = pd.date_range(df.index[0], df.index[-1], freq='1M')

In [183]:
buyprices = df[df.index.isin(buy_dates)].Close

In [184]:
btc_amt = 500 / buyprices

In [185]:
btc_amt_LS = 500*len(buyprices) / buyprices[0]

In [186]:
btc_amt_sum = btc_amt.cumsum()
btc_amt_sum

Date
2020-12-31    0.013850
2021-03-31    0.022908
2021-04-30    0.032712
2021-06-30    0.042058
2021-08-31    0.050987
2021-09-30    0.058405
2021-11-30    0.063900
2021-12-31    0.070566
2022-01-31    0.077332
2022-02-28    0.082651
Name: Close, dtype: float64

In [187]:
btc_amt_sum.name = 'btc_amt_DCA'
btc_amt_sum.name

'btc_amt_DCA'

In [188]:
# btc_amt_sum.name
df_tog = pd.concat([btc_amt_sum, df], axis = 1).ffill()
# df_tog

In [189]:
cash_amt_LS = btc_amt_LS*df.Close
cash_amt_LS

Date
2020-12-31     5000.000000
2021-01-04     5013.850416
2021-01-05     4889.196676
2021-01-06     4972.299169
2021-01-07     5083.102493
                  ...
2022-02-24    12742.382271
2022-02-25    13088.642659
2022-02-28    13019.390582
2022-03-01    12839.335180
2022-03-02    12534.626039
Name: Close, Length: 289, dtype: float64

In [190]:
cash_amt_DCA = df_tog.btc_amt_DCA*df.Close
cash_amt_DCA

Date
2020-12-31     500.000000
2021-01-04     501.385042
2021-01-05     488.919668
2021-01-06     497.229917
2021-01-07     508.310249
                 ...
2022-02-24    7114.557208
2022-02-25    7307.887567
2022-02-28    7769.221495
2022-03-01    7661.774815
2022-03-02    7479.941972
Length: 289, dtype: float64

In [191]:
df_tog['btc_amt_LS'] = btc_amt_LS
df_tog['cash_amt_LS'] = cash_amt_LS
df_tog['cash_amt_DCA'] = cash_amt_DCA

In [192]:
df_tog

,btc_amt_DCA,Open,High,Low,Close,Adj Close,Volume,btc_amt_LS,cash_amt_LS,cash_amt_DCA
Date,,,,,,,,,,
2020-12-31,0.013850,35750.0,36400.0,35750.0,36100.0,36100.0,18170,0.138504,5000.000000,500.000000
2021-01-04,0.013850,36100.0,36500.0,36000.0,36200.0,36200.0,1950,0.138504,5013.850416,501.385042
2021-01-05,0.013850,35600.0,36000.0,35300.0,35300.0,35300.0,1150,0.138504,4889.196676,488.919668
2021-01-06,0.013850,35900.0,35900.0,35000.0,35900.0,35900.0,6250,0.138504,4972.299169,497.229917
2021-01-07,0.013850,35600.0,36800.0,35500.0,36700.0,36700.0,4710,0.138504,5083.102493,508.310249
...,...,...,...,...,...,...,...,...,...,...
2022-02-24,0.077332,94000.0,94500.0,91300.0,92000.0,92000.0,155700,0.138504,12742.382271,7114.557208
2022-02-25,0.077332,92000.0,95000.0,92000.0,94500.0,94500.0,51800,0.138504,13088.642659,7307.887567
2022-02-28,0.082651,93000.0,95000.0,92600.0,94000.0,94000.0,11900,0.138504,13019.390582,7769.221495
2022-03-01,0.082651,93100.0,93500.0,88000.0,92700.0,92700.0,30000,0.138504,12839.335180,7661.774815
2022-03-02,0.082651,90000.0,92000.0,89000.0,90500.0,90500.0,16000,0.138504,12534.626039,7479.941972